* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5; /*para ficar diferente do card*/
    font-family: 'Roboto Condensed', sans-serif; 
    /*fonte que inseri pelo head do html*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: #ffffff; /*coloquei para destacar melhor do fundo*/
    position: relative;
    display: flex;
    flex-direction: column;
    /* text-align: left; estava fazendo com que o conteúdo ficasse todo para a esquerda, e não só as palavras dentro do input*/
    width: 340px;
    height: 430px;
    border-radius: 24px;
    padding: 10px 40px; /*em cima e embaixo, esquerda e direita*/
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /*sombreamento genérico*/
}

.content-box {
    max-width: 240px;
    margin: 0 auto; /* Centraliza o conteúdo dentro do card */
    width: 100%;
}

.login{
    font-weight: bold;
    color: #009982;
    font-size: 50px;
    border-bottom: 1px solid darkgray; /* cor e espessura da linha */
    padding-bottom: 10px;
    display: inline-block; /*basicamente diz: trata esse título como texto inline, mas me deixa colocar uma borda, espaçamento, largura automática. Foi isso que limitou a border-bottom ao tamanho da palavra Login.*/

}
.input-group {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 20px;
}

.input-group input{
    /* o input seleciona todos os <input> que estiverem dentro da classe */
    padding: 5px 2px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #6c757d;
    font-weight: bold;
    text-align: left;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    outline: none;
    /* outline: tira a bordar do texto selecionado */

}

button{
    margin-top: 15px;
    padding: 12px 0; /* vertical apenas */
    width: 100%;
    color: white;
    background-color: #009982;
    border-radius: 16px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#forgot{
    padding-top: 10px;
}

.links{
    font-size: 14px;
    margin-top: 90px;
    text-align: left;
    padding-left: 5px;
}

.links a{
    position: absolute;
    color: #009982;
    text-decoration: none; /* tira o sublinhado*/
    /* display: block; cada link fica numa linha */
    font-weight: 600;
}
/* a diferença do ".links" para o ".links a" é que o primeiro seleciona todo o conteiner enquanto o segundo estiliza os links em si*/

/* adicionar efeito hover dá um efeito ao passar o mouser em cima do conteúdo*/
.links a:hover {
    text-decoration: underline;  /* ou "none" se preferir */
    transition: color 0.3s ease;
}


/* é possível editar mais de uma classe por vez colocando virgulas */
.input-group input,
button,
.extra-links {
    max-width: 280px; /*limita o conteúdo de dentro do card */
    width: 100%; /*faz ele se ajustar até esse limite */
    margin-left: auto;
    margin-right: auto;
}